body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

h2 {
    font-size: 30px;
}


.orange-color {
    color: orange;
}

h1 {
    font-size: 55px;

}

.gray-color {
    color: rgb(99, 97, 97);
}

section {
    display: flex;
    margin-top: 50px;
}

.padding {
    margin-top: 100px;
}

.half-width {
    width: 50%;
    padding: 50px;
}


.half-width img {
    width: 100%;
}

.second-width {
    width: 50%;
    padding: 60px;

}

.second-width img {
    width: 67%;
    padding-left: 100px;

}

.order-food {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 15px 25px;
    border-radius: 25px;
    color: white;
}

.backimgone {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 2900px 920px;

}

.contact-me {

    text-decoration: none;
    background-image: radial-gradient(orange, red);
    padding: 15px 25px;
    border-radius: 25px;
    color: white;
}

.thirdpart {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}

.width3rd {
    width: 50%;

}



.width3rd img {
    width: 100%;
    margin-top: 10px;

}

.food-item {
    box-shadow: 20px 20px 60px gray;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.mr {
    padding: 80px;
}

.thwidth {
    width: 50%;
    margin-left: 120px;

}

.la {
    box-shadow: 10px 20px 30px gray;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.lp {
    text-align: center;
    background-color: black;
    padding: 60px;
    margin-top: 40px;

}